@font-face{
     font-family: 'anonymice';
     src:url('../font/Anonymice Powerline.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: inherit;
    font-family: 'anonymice';
}

body {
    height: 100%;
    height: 100vh;
}


p {
    font-family: "Share Tech Mono", monospace;
    color: #f5f5f5;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 1.2;
}

span {
    color: #f0c674;
}

i {
    color: #8abeb7;
}

div a {
    text-decoration: none;
}

b {
    color: #81a2be;
}

a.avatar {
    position: fixed;
    bottom: 15px;
    right: -100px;
    animation: slide 0.5s 4.5s forwards;
    display: block;
    z-index: 4
}

a.avatar img {
    border-radius: 100%;
    width: 44px;
    border: 2px solid white;
}

@keyframes slide {
    from {
        right: -100px;
        transform: rotate(360deg);
        opacity: 0;
    }
    to {
        right: 15px;
        transform: rotate(0deg);
        opacity: 1;
    }
}

#laptop {
    height: 100%;
    margin-top:20px;
}
#laptop-screen {
    border: 2px solid #333;
    border-bottom: 0;
    border-radius: 2em 2em 0 0;
    /* background: rgba(0, 0, 0, 0); */
    width: 70%;
    /* width: 70vw; */
    position: relative;
    /* top: 50%; */
    margin: 0 auto;
    padding: 30px 30px 10px;
    box-shadow: 0 0 150px -20px rgba(0, 0, 0, 0.5);
    z-index: 3;

    /* height: 45vw; */
    min-height: 490px;
    height: 85%;
}
#webcam {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #333;
    margin: 0 auto;
    margin-bottom: 3%;
    background-color: #555;
}
#screen {
    border: 3px solid #000;
    background-image: linear-gradient(120deg, #333333 0%, #000000 100%);
    width: 96%;
    width: 63vw;
    position: relative;
    /* top: 50%;
    transform: translateY(-50%); */
    margin: 0 auto;
    vertical-align: middle;
    padding: 30px 20px 10px;
    box-shadow: 0 0 150px -20px rgba(0, 0, 0, 0.5);
    z-index: 3;

    height: 85%;
    /* height: 35vw; */
    overflow-y: scroll;
}
#resume {
    height: 100%;
    min-height: 100%;
}
#laptop-bottom {
    border: 0px;
    width: 85%;
    width: 85vw;
    height: 7%;
    position: relative;
    margin: 0 auto;
}
#mac-label {
    text-align: center;
    color: #555;
    height: 50px;
    font-size: 22px;
    line-height: 50px;
}
#mac-label b {
    color: #555;
    font-size: 22px;
    font-weight: bold;
}
#laptop-keyboard {
    width: 100%;
    border: 2px solid #333;
    border-bottom: 1px solid #333;
    border-radius: 5px 5px 0 0;
    height: 42%;
    height: 2vw;
    box-shadow: 0 0 150px -20px rgba(0, 0, 0, 0.5);
    z-index: 4;
    position: relative;
}
#laptop-base {
    width: 100%;
    border: 2px solid #333;
    border-top: 0px;
    height: 80%;
    height: 2vw;
    background:
    box-shadow: 0 0 150px -20px rgba(0, 0, 0, 0.5);
    z-index: 4;
    position: relative;
    border-radius: 0 0 10em 10em;
}
#laptop-touchpad {
    width: 25%;
    height: 80%;
    height: 1vw;
    z-index: 5;
    position: relative;
    border-radius: 0 0 10px 10px;
    border: 1px solid #333;
    border-top: 0px;
    margin: 0 auto;
}
#resume p {
    margin-bottom: 0px;
    word-break:break-all;
}
#resume .command-output p {
    padding: 5px 0;
}
#resume .command-container {
    display: block;
    width: 100%;
}
#resume .command-container p {
    display: inline-block;
    /* color: lime; */
}
#resume p.cursor {
    display: none;
}
#resume .command-container .command {
    display: none;
}
#resume p.command-prefix {
    display: none;
    margin-right: 10px;
}
#resume p.command-prefix .adr-sym {
    background-color: #000;
    padding: 3px 12px 3px 8px;
}
#resume p.command-prefix .adr-arrow {
    color: #000;
    background-color: #6495ED;
    margin-left: -2px;
    padding: 3px 0;
}
#resume p.command-prefix .current-path {
    background-color: #6495ED;
    color: #000;
    padding: 3px 12px 3px 12px;
    margin-left: -11px;
    font-weight: bold;
}
#resume p.command-prefix .path-arrow {
    color: #6495ED;
    padding: 3px 0;
}
#resume p.command-prefix .path-arrow.branch {
    color: #6495ED;
    background-color: #218868;
    padding: 3px 0;
}
#resume p.command-prefix .current-branch {
    background-color: #218868;
    color: #000;
    padding: 3px 12px 3px 12px;
    margin-left: -11px;
    font-weight: bold;
}
#resume p.command-prefix .branch-arrow {
    color: #218868;
    padding: 3px 0;
}
#resume p.command-prefix .path-arrow.uncomit-branch {
    color: #6495ED;
    background-color: #f0c674;
    padding: 3px 0;
}
#resume p.command-prefix .uncomit-current-branch {
    background-color: #f0c674;
    color: #000;
    padding: 3px 12px 3px 12px;
    margin-left: -11px;
    font-weight: bold;
}
#resume p.command-prefix .uncomit-branch-arrow {
    color: #f0c674;
    padding: 3px 0;
}
#resume .command-output {
    display: none;
    /* margin-bottom: 15px; */
}
#resume .command-output p {
    font-weight: normal;
}
#resume .command-container .first-line {
    display: inline-block;
}


@media all and (max-width: 960px) {
    #laptop-bottom {
        display: none;
    }
    #laptop-screen {
        border: 2px solid #333;
        border-radius: 2em;
        padding: 10px 15px 10px 15px;
        min-height: 595px;
    }
    #screen {
        width: 100%;
        border-radius: 5px;
    }
    .btn-container {
        width: 100%;
        height: 60px;
        display: -webkit-flex;
        display:         flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    #homebtn {
        border: 3px solid #888;
        margin: auto;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    #mac-label {
        display: none;
    }
    #webcam {
        width: 5px;
        height: 5px;
    }
    #line {
        margin: auto;
        border: 2px solid #555;
        border-radius: 5px;
        width: 40px;
        margin-bottom: 20px;
    }
}
